<div class="box box-widget widget-user">
  <!-- Add the bg color to the header using any of the bg-* classes -->
  <div class="widget-user-header bg-black" style="background: url('../../assets/img/photopreviewbs.png') center center;">
    <h3 class="widget-user-username">{{business.name}}</h3>
    <h5 class="widget-user-desc">{{business.description}}</h5>
  </div>
  <div class="box-footer">
    <div class="row">
      <div class="col-sm-4 border-right">
        <div class="description-block">
          <h5 class="description-header">5</h5>
          <span class="description-text">negocios afiliados</span>
        </div>
        <!-- /.description-block -->
      </div>
      <!-- /.col -->
      <div class="col-sm-4 border-right">
        <div class="description-block">
          <span class="description-text">

              <a [routerLink]="['detail/',business.name,business._id]">
                Ver detalles
              </a>

          </span>
        </div>
        <!-- /.description-block -->
      </div>
      <div class="col-sm-4 border-right">
          <div class="description-block">
            <span class="description-text">
                <a [routerLink]="['/products']" [queryParams]="{ order: 'popular'}">
                  Visualizar sitio
                </a>            
            </span>
          </div>
          <!-- /.description-block -->
        </div>
      <!-- /.col -->
      <!-- /.col -->
    </div>
  </div>
</div>

