<div class="card">
    <img class="card-img-top" src="assets/img/user2-160x160.jpg" alt="image" style="width:100%">
    <div class="card-body">
        <label class="card-title control-label text-center"><i class="fa fa-check"></i> {{contact.name}}</label>
    </div>
    <div class="card-footer">
      <div class="btn-group">
        <button type="button" class="btn btn-info"><i class="fa fa-eye"></i></button>
        <button type="button" class="btn btn-warning"><i class="fa fa-pencil-square-o"></i></button>                  
        <button type="button" class="btn btn-danger"><i class="fa fa-remove"></i></button>
       </div>
    </div>
  </div>